.cl-internal-b3fm6y {
  display: none !important;
}

.auth-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

.cl-formButtonPrimary {
  background-color: #252b37 !important;
}

.cl-card {
  border-radius: 4px !important;
}
