@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

table {
  margin-top: 20px;
  border: 1px solid #c7c7c7;
}

.lottery-card {
  overflow: hidden;
}

.lottery-card img {
  overflow: hidden;
  transition: all 0.3s ease;
}

.lottery-card:hover img {
  transform: scale(1.1);
}

.ant-form-item {
  margin-bottom: 0;
}

.room-tile:hover img {
  transform: scale(1.1);
}

.room-tile img {
  transition: all 0.3s ease;
  overflow: hidden;
}

.room-tile {
  overflow: hidden;
}